<table>
  <tbody>
    <tr>
      <td><h2>Thanks for the purchase!</h2></td>
    </tr>
    <tr>
      <td><p>Thank you for your purchasing <%= @product.name %>!</p></td>
    </tr>
    <tr>
      <td><p><strong>Your Roasting with the Rolings Team!</strong></p></td>
    </tr>
  </tbody>
</table>