/* line 5, /Users/danielrollings/Dropbox/nameofapp/app/assets/stylesheets/comments.scss */
.row {
  margin: 0px;
}

/* line 9, /Users/danielrollings/Dropbox/nameofapp/app/assets/stylesheets/comments.scss */
.product-reviews {
  margin-top: -35px;
}

/* line 13, /Users/danielrollings/Dropbox/nameofapp/app/assets/stylesheets/comments.scss */
.comment-title {
  margin-bottom: -15px;
}

/** PAGINATION**/
/* line 19, /Users/danielrollings/Dropbox/nameofapp/app/assets/stylesheets/comments.scss */
.pagination {
  background: grey;
  border: 1px solid #e5e5e5;
  text-align: center;
  padding: 1em;
  cursor: default;
  width: 100%;
}

/* line 28, /Users/danielrollings/Dropbox/nameofapp/app/assets/stylesheets/comments.scss */
.pagination a, .apple_pagination span {
  padding: 0.2em 0.3em;
}

/* line 32, /Users/danielrollings/Dropbox/nameofapp/app/assets/stylesheets/comments.scss */
.pagination .disabled {
  color: white;
}

/* line 36, /Users/danielrollings/Dropbox/nameofapp/app/assets/stylesheets/comments.scss */
.pagination .current {
  color: white;
  font-style: normal;
  font-weight: bold;
  background-color: #bebebe;
  display: inline-block;
  width: 1.4em;
  height: 1.4em;
  line-height: 1.5;
  -moz-border-radius: 1em;
  -webkit-border-radius: 1em;
  border-radius: 1em;
}

/* line 50, /Users/danielrollings/Dropbox/nameofapp/app/assets/stylesheets/comments.scss */
.pagination a {
  text-decoration: none;
  color: #e5e5e5;
}

/* line 56, /Users/danielrollings/Dropbox/nameofapp/app/assets/stylesheets/comments.scss */
.pagination a:hover, .pagination a:focus {
  text-decoration: underline;
}
.cancel-on-png, .cancel-off-png, .star-on-png, .star-off-png, .star-half-png {
  font-size: 2em;
}

@font-face {
  font-family: "raty";
  font-style: normal;
  font-weight: normal;
  src: url("fonts/raty.eot");
  src: url("fonts/raty.eot?#iefix") format("embedded-opentype");
  src: url("fonts/raty.svg#raty") format("svg");
  src: url("fonts/raty.ttf") format("truetype");
  src: url("fonts/raty.woff") format("woff");
}

.cancel-on-png, .cancel-off-png, .star-on-png, .star-off-png, .star-half-png {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: "raty";
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  speak: none;
  text-transform: none;
}

.cancel-on-png:before {
  content: "\e600";
}

.cancel-off-png:before {
  content: "\e601";
}

.star-on-png:before {
  content: "\f005";
}

.star-off-png:before {
  content: "\f006";
}

.star-half-png:before {
  content: "\f123";
}
/* line 5, /Users/danielrollings/Dropbox/nameofapp/app/assets/stylesheets/products.scss */
p {
  margin: 10px 0px !important;
}

/**FOOTER**/
/* line 11, /Users/danielrollings/Dropbox/nameofapp/app/assets/stylesheets/products.scss */
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #grey;
  color: white;
}

/* line 21, /Users/danielrollings/Dropbox/nameofapp/app/assets/stylesheets/products.scss */
.products-info {
  float: right;
}
/* line 1, /Users/danielrollings/Dropbox/nameofapp/app/assets/stylesheets/scaffolds.scss */
body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  margin: 33px;
}

/* line 10, /Users/danielrollings/Dropbox/nameofapp/app/assets/stylesheets/scaffolds.scss */
p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  margin: 33px;
}

/* line 17, /Users/danielrollings/Dropbox/nameofapp/app/assets/stylesheets/scaffolds.scss */
pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

/* line 23, /Users/danielrollings/Dropbox/nameofapp/app/assets/stylesheets/scaffolds.scss */
a {
  color: #000;
}
/* line 26, /Users/danielrollings/Dropbox/nameofapp/app/assets/stylesheets/scaffolds.scss */
a:visited {
  color: #666;
}
/* line 30, /Users/danielrollings/Dropbox/nameofapp/app/assets/stylesheets/scaffolds.scss */
a:hover {
  color: #fff;
  background-color: #000;
}

/* line 36, /Users/danielrollings/Dropbox/nameofapp/app/assets/stylesheets/scaffolds.scss */
th {
  padding-bottom: 5px;
}

/* line 40, /Users/danielrollings/Dropbox/nameofapp/app/assets/stylesheets/scaffolds.scss */
td {
  padding-bottom: 7px;
  padding-left: 5px;
  padding-right: 5px;
}

/* line 47, /Users/danielrollings/Dropbox/nameofapp/app/assets/stylesheets/scaffolds.scss */
div.field, div.actions {
  margin-bottom: 10px;
}

/* line 52, /Users/danielrollings/Dropbox/nameofapp/app/assets/stylesheets/scaffolds.scss */
#notice {
  color: green;
}

/* line 56, /Users/danielrollings/Dropbox/nameofapp/app/assets/stylesheets/scaffolds.scss */
.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

/* line 62, /Users/danielrollings/Dropbox/nameofapp/app/assets/stylesheets/scaffolds.scss */
#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}
/* line 70, /Users/danielrollings/Dropbox/nameofapp/app/assets/stylesheets/scaffolds.scss */
#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0;
  background-color: #c00;
  color: #fff;
}
/* line 81, /Users/danielrollings/Dropbox/nameofapp/app/assets/stylesheets/scaffolds.scss */
#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

/* line 87, /Users/danielrollings/Dropbox/nameofapp/app/assets/stylesheets/scaffolds.scss */
label {
  display: block;
}
/**Body Elements**/
/* line 8, /Users/danielrollings/Dropbox/nameofapp/app/assets/stylesheets/static_pages.scss */
body {
  margin: 0px 0px 60px 0px;
}

/* line 13, /Users/danielrollings/Dropbox/nameofapp/app/assets/stylesheets/static_pages.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: Futura, helvetica, sans serif;
}

/* line 17, /Users/danielrollings/Dropbox/nameofapp/app/assets/stylesheets/static_pages.scss */
h1 {
  font-size: 4em;
}

/* line 21, /Users/danielrollings/Dropbox/nameofapp/app/assets/stylesheets/static_pages.scss */
p {
  font-family: Futura, helvetica, sans serif;
}

/* line 25, /Users/danielrollings/Dropbox/nameofapp/app/assets/stylesheets/static_pages.scss */
.main {
  padding-top: 50px;
}

/**NAV**/
/* line 31, /Users/danielrollings/Dropbox/nameofapp/app/assets/stylesheets/static_pages.scss */
.navbar {
  background-color: grey;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;
  border: none;
}

/* line 42, /Users/danielrollings/Dropbox/nameofapp/app/assets/stylesheets/static_pages.scss */
.navbar a {
  color: #000;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  transition: color 500ms;
  -webkit-transition: color 500ms;
}

/* line 50, /Users/danielrollings/Dropbox/nameofapp/app/assets/stylesheets/static_pages.scss */
.navbar-inverse .navbar-nav > li > a {
  color: #fff;
}

/* line 54, /Users/danielrollings/Dropbox/nameofapp/app/assets/stylesheets/static_pages.scss */
.navbar-inverse .navbar-nav > li a:hover {
  color: #000;
}

/* line 58, /Users/danielrollings/Dropbox/nameofapp/app/assets/stylesheets/static_pages.scss */
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:focus,
.navbar-inverse .navbar-nav > .active > a:hover {
  color: #34495e;
  background-color: #fff;
}

/**FOOTER**/
/* line 67, /Users/danielrollings/Dropbox/nameofapp/app/assets/stylesheets/static_pages.scss */
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 50px;
  background-color: grey;
  text-color: white;
  margin: 0px;
}

/* line 77, /Users/danielrollings/Dropbox/nameofapp/app/assets/stylesheets/static_pages.scss */
.text-muted {
  color: white;
}

/* line 81, /Users/danielrollings/Dropbox/nameofapp/app/assets/stylesheets/static_pages.scss */
.img-responsive {
  margin: 0 auto;
}

/**PRODUCT PAGES**/
/* line 87, /Users/danielrollings/Dropbox/nameofapp/app/assets/stylesheets/static_pages.scss */
.product-info {
  border: 3px solid grey;
  margin: 2em;
  padding: 1.4em;
  min-height: 450px;
}

/**LANDING PAGE**/
/* line 96, /Users/danielrollings/Dropbox/nameofapp/app/assets/stylesheets/static_pages.scss */
.carousel-indicators {
  bottom: 10px;
}

/* line 99, /Users/danielrollings/Dropbox/nameofapp/app/assets/stylesheets/static_pages.scss */
.carousel-caption {
  right: 20%;
  left: 20%;
  padding-bottom: 60px;
  font-size: 2em;
}

/* line 106, /Users/danielrollings/Dropbox/nameofapp/app/assets/stylesheets/static_pages.scss */
.carousel-control:focus, .carousel-control:hover {
  color: #fff;
  text-decoration: none;
  filter: alpha(opacity=90);
  outline: 0;
  opacity: .1;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */

#search{
  padding:0.8em;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}
#search1{
  color: white;
  background: none;
  border: none;
}
.button, html input[type=button], input[type=reset], input[type=submit]{
background-color: white;
}

.thumbnail{
	margin-bottom: 0px;
}

.zoomContainer{
	margin-top: 4px;
	margin-left: 4px;
}

#fresh_comment{
  background-color: #e1e3e8;
}
