// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.row {
	margin:0px;
}

.product-reviews {
    margin-top: -35px;
}

.comment-title{
	margin-bottom: -15px;
}