// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.row {
	margin:0px;
}

.product-reviews {
    margin-top: -35px;
}

.comment-title{
	margin-bottom: -15px;
}

/** PAGINATION**/

.pagination {
  background: grey;
  border: 1px solid #e5e5e5;
  text-align: center;
  padding: 1em;
  cursor: default; 
  width: 100%;
  }

 .pagination a, .apple_pagination span {
    padding: 0.2em 0.3em; 
    }

  .pagination .disabled {
    color: white; 
    }

  .pagination .current {
  	color: white;
    font-style: normal;
    font-weight: bold;
    background-color: #bebebe;
    display: inline-block;
    width: 1.4em;
    height: 1.4em;
    line-height: 1.5;
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    border-radius: 1em;
    }

  .pagination a {
    text-decoration: none;
    color: #e5e5e5
    ; 
    }

  .pagination a:hover, .pagination a:focus {
      text-decoration: underline; 

  }
#alert-comment {
  position: inherit;
  margin: 0px !important;
}
