// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

p {
	font-family: Futura, helvetica, sans serif;
	margin: 20px 0px!important;
}

.product_image {
	border: 1px solid grey;
	min-height: 200px;
	width:200px;
}

