// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/**Body Elements**/

body{
  margin:0px 0px 60px 0px;

}

h1, h2, h3, h4, h5, h6{
	font-family: Futura, helvetica, sans serif;
  padding-left: 15px
}

h1{
 padding: 0 15px 0;
}

.carousel-title{
  font-size: 3em;
  margin-top:0px;
}

p {
	font-family: Futura, helvetica, sans serif;
  padding: 0px 15px;
}

.main {
	padding-top: 90px;
  padding-bottom: 20px;
}
/**NAV**/

.navbar
{
background-color: white;
position: fixed;
width: 100%;
top: 0;
z-index: 2000;
border: none;
}


.navbar a{
	color: grey;
	text-transform: uppercase;
	letter-spacing: 0.05em;
	transition: color 500ms;
	-webkit-transition: color 500ms;
}

.navbar-inverse .navbar-nav>li>a {
    color: grey;
}

.navbar-inverse .navbar-nav>li a:hover {
    color: grey;
}

.navbar-inverse .navbar-nav>.active>a, 
.navbar-inverse .navbar-nav>.active>a:focus, 
.navbar-inverse .navbar-nav>.active>a:hover{
    color: #34495e;
    background-color: grey;
}

.nav-item{
font-size: 1.4em;
}

.navbar-form{
  margin-top: 4px;
  border: none;
}
.navbar-inverse .navbar-toggle .icon-bar {
    background-color: #000;
}

/**FOOTER**/

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: white;
  color: grey;
  margin: 0px;
  z-index: 2000;
  border-top: solid grey 1px;
}
.text-muted{
  color: white;
}

.img-responsive {
  margin: 0 auto;
}

/**PRODUCT PAGES**/

.product-info{
   border: 3px solid grey;
   margin: 1em 0;
   padding: 0px;
   max-height: 400px;
   min-height: 400px;
  overflow: hidden;
}
.product-padding{
padding-top: 0px;
}


/**LANDING PAGE**/
.carousel-indicators {
    bottom: 1%;
}
.carousel-caption {
    right: 5%;
    left: 5%;
    top: 1%;
    text-align: left;
    max-width: 400px;
    line-height:normal;
}

.carousel-control{
  display:none;
  }
  .carousel-title{
  padding:0px;
  }
 .carousel-text{
  padding:0px;
  }

  ol{
  margin:0px;
  }

.carousel-control:focus, .carousel-control:hover {

    color: #fff;
    text-decoration: none;
    filter: alpha(opacity=90);
    outline: 0;
    opacity: .1;
}
